.md-header__inner {
    height: 64px;
}

.md-header__topic {
    font-size: 40px;
    font-weight: bold;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 60px;
}

:root {
    --md-primary-fg-color: #E45121
}